---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio | DigitalGrit">
    <main>
        <!-- HEADER
		================================================== -->
        <section class="section section-top section-full">
            <!-- Cover -->
            <div
                class="bg-cover"
                style="background-image: url(/DigitalGrit/assets/img/01.jpg);"
            >
            </div>

            <!-- Overlay -->
            <div class="bg-overlay"></div>
            <!-- Triangles -->
            <div
                class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"
            >
            </div>
            <div
                class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"
            >
            </div>

            <!-- Content -->
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8 col-lg-7">
                        <!-- Preheading -->
                        <p
                            class="font-weight-medium text-center text-xs text-uppercase text-white text-muted"
                            data-toggle="animation"
                            data-animation="fadeUp"
                            data-animation-order="0"
                            data-animation-trigger="load"
                        >
                            By GeronimoGc
                        </p>

                        <!-- Heading -->
                        <h1
                            class="text-white text-center mb-4"
                            data-toggle="animation"
                            data-animation="fadeUp"
                            data-animation-order="1"
                            data-animation-trigger="load"
                        >
                            DigitalGrit
                        </h1>

                        <!-- Subheading -->
                        <p
                            class="lead text-white text-muted text-center mb-5"
                            data-toggle="animation"
                            data-animation="fadeUp"
                            data-animation-order="2"
                            data-animation-trigger="load"
                        >
                            DigitalGrit, tu solución integral para equipo
                            informático y más allá. ¡Ofrecemos excepcionales
                            piezas de computadora, un soporte técnico brillante
                            y servicios de desarrollo de software inigualables!
                            Sumérgete en nuestra tienda para explorar, o aprende
                            más sobre nosotros a continuación.
                        </p>
                    </div>
                </div>
                <!-- / .row -->
            </div>
            <!-- / .container -->
        </section>
        <!-- SECTIONS
		================================================== -->
        <!-- SERVICIOS
		================================================== -->
        <section class="section" id="servicios">
            <!-- Content -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 text-center">
                        <!-- Heading -->
                        <h2 class="text-center mb-4">Servicios</h2>

                        <!-- Subheading -->
                        <p class="text-muted text-center mb-4">
                            En DigitalGrit no solo vendemos piezas de
                            computadora, sino que convertimos sueños en
                            realidad. Nuestro soporte técnico está diseñado para
                            garantizar que tu vida digital sea más fluida y
                            mejor. Nuestras ofertas de desarrollo de software y
                            web son las soluciones perfectas para impulsar
                            digitalmente tu negocio.
                        </p>

                        <a
                            class="btn btn-sm btn-outline-primary text-center mb-5"
                        >
                            Ver Mas
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="container-carrucel-edit">
                    <div>
                        <div class="content-carrucel-edit">
                            <h2 class="text-white">Soporte Tecnico</h2>
                            <a class="btn btn-sm btn-outline-primary mb-2" href="">Ver Mas</a>
                        </div>
                    </div>
                    <div>
                        <div class="content-carrucel-edit">
                            <h2 class="text-white">Desarrollo de software</h2>
                            <a class="btn btn-sm btn-outline-primary mb-2" href="">Ver Mas</a>
                        </div>
                    </div>
                    <div>
                        <div class="content-carrucel-edit">
                            <h2 class="text-white">Diseño de Paginas web</h2>
                            <a class="btn btn-sm btn-outline-primary mb-2" href="">Ver Mas</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- TIENDA DIGITAL
		================================================== -->
        <section class="section bg-dark" id="TiendaDigital">
            <!-- Line -->
            <div class="line line-top"></div>

            <!-- Triangles -->
            <div
                class="bg-triangle bg-triangle-light bg-triangle-top bg-triangle-left"
            >
            </div>
            <div
                class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"
            >
            </div>

            <!-- Content -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6">
                        <!-- Heading -->
                        <h2 class="text-center mb-4">Tienda Digital</h2>

                        <!-- Subheading -->
                        <p class="text-muted text-center mb-5">
                            Bienvenido a DigitalGrit donde encontrarás todo lo
                            que necesitas para armar o mejorar tu computador.
                            Tenemos un amplio catálogo de componentes de las
                            mejores marcas y al mejor precio. Tarjetas gráficas,
                            procesadores, memorias, discos duros, fuentes de
                            poder, gabinetes y mucho más. Visita nuestra Seccion
                            de Tienda Digital y descubre todo lo que tenemos
                            para ti. DigitalGrit, Tu socio en el mundo digital.
                        </p>
                    </div>
                </div>
                <!-- / .row -->
                <div class="row">
                    <div class="col-md-4 border border-white">
                        <h6 class="text-primary">almacenamiento</h6>

                        <div class="row">
                            <div class="col-6">
                                <!-- Item -->
                                <a
                                    href="#TiendaDigital"
                                    class="card border-0 mb-3 mb-md-0 shadow"
                                >
                                    <!-- Image -->
                                    <div class="card-img-top">
                                        <img
                                            src="/DigitalGrit/assets/img/05.jpg"
                                            alt="almacenamiento HDD"
                                            class="img-fluid"
                                        />
                                    </div>

                                    <!-- Body -->
                                    <div class="card-body">
                                        <!-- Title -->
                                        <h4 class="card-title text-white">
                                            HDD
                                        </h4>

                                        <!-- Body -->
                                        <p class="card-text text-muted"></p>
                                    </div>
                                </a>
                                <!-- / .card -->
                            </div>
                            <div class="col-6">
                                <!-- Item -->
                                <a
                                    href="#TiendaDigital"
                                    class="card border-0 mb-3 mb-md-0 shadow"
                                >
                                    <!-- Image -->
                                    <div class="card-img-top">
                                        <img
                                            src="/DigitalGrit/assets/img/06.jpg"
                                            alt="almacenamiento SSD"
                                            class="img-fluid"
                                        />
                                    </div>

                                    <!-- Body -->
                                    <div class="card-body">
                                        <!-- Title -->
                                        <h4 class="card-title text-white">
                                            SSD
                                        </h4>

                                        <!-- Body -->
                                        <p class="card-text text-muted"></p>
                                    </div>
                                </a>
                                <!-- / .card -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 border border-white">
                        <h6 class="text-primary">Procesadores</h6>

                        <div class="row">
                            <div class="col-6">
                                <!-- Item -->
                                <a
                                    href="#TiendaDigital"
                                    class="card border-0 mb-3 mb-md-0 shadow"
                                >
                                    <!-- Image -->
                                    <div class="card-img-top">
                                        <img
                                            src="/DigitalGrit/assets/img/07.jpg"
                                            alt="procesador Intel"
                                            class="img-fluid"
                                        />
                                    </div>

                                    <!-- Body -->
                                    <div class="card-body">
                                        <!-- Title -->
                                        <h4 class="card-title text-white">
                                            Intel
                                        </h4>

                                        <!-- Body -->
                                        <p class="card-text text-muted"></p>
                                    </div>
                                </a>
                                <!-- / .card -->
                            </div>
                            <div class="col-6">
                                <!-- Item -->
                                <a
                                    href="#TiendaDigital"
                                    class="card border-0 mb-3 mb-md-0 shadow"
                                >
                                    <!-- Image -->
                                    <div class="card-img-top">
                                        <img
                                            src="/DigitalGrit/assets/img/09.jpg"
                                            alt="Procesador AMD"
                                            class="img-fluid"
                                        />
                                    </div>

                                    <!-- Body -->
                                    <div class="card-body">
                                        <!-- Title -->
                                        <h4 class="card-title text-white">
                                            AMD
                                        </h4>

                                        <!-- Body -->
                                        <p class="card-text text-muted"></p>
                                    </div>
                                </a>
                                <!-- / .card -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 border border-white">
                        <h6 class="text-primary">Placas Base</h6>

                        <div class="row">
                            <div class="col-6">
                                <!-- Item -->
                                <a
                                    href="#TiendaDigital"
                                    class="card border-0 mb-3 mb-md-0 shadow"
                                >
                                    <!-- Image -->
                                    <div class="card-img-top">
                                        <img
                                            src="/DigitalGrit/assets/img/08.jpg"
                                            alt="placa base amd"
                                            class="img-fluid"
                                        />
                                    </div>

                                    <!-- Body -->
                                    <div class="card-body">
                                        <!-- Title -->
                                        <h4 class="card-title text-white">
                                            AMD
                                        </h4>

                                        <!-- Body -->
                                        <p class="card-text text-muted"></p>
                                    </div>
                                </a>
                                <!-- / .card -->
                            </div>
                            <div class="col-6">
                                <!-- Item -->
                                <a
                                    href="#TiendaDigital"
                                    class="card border-0 mb-3 mb-md-0 shadow"
                                >
                                    <!-- Image -->
                                    <div class="card-img-top">
                                        <img
                                            src="/DigitalGrit/assets/img/10.jpg"
                                            alt="placa base intel"
                                            class="img-fluid"
                                        />
                                    </div>

                                    <!-- Body -->
                                    <div class="card-body">
                                        <!-- Title -->
                                        <h4 class="card-title text-white">
                                            Intel
                                        </h4>

                                        <!-- Body -->
                                        <p class="card-text text-muted"></p>
                                    </div>
                                </a>
                                <!-- / .card -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 border border-white">
                        <h6 class="text-primary">Tarjetas Graficas</h6>

                        <div class="row">
                            <div class="col-4">
                                <!-- Item -->
                                <a
                                    href="#TiendaDigital"
                                    class="card border-0 mb-3 mb-md-0 shadow"
                                >
                                    <!-- Image -->
                                    <div class="card-img-top">
                                        <img
                                            src="/DigitalGrit/assets/img/11.jpg"
                                            alt="Tarjeta Grafica Nvidia"
                                            class="img-fluid"
                                        />
                                    </div>

                                    <!-- Body -->
                                    <div class="card-body">
                                        <!-- Title -->
                                        <h4 class="card-title text-white">
                                            Nvidia
                                        </h4>

                                        <!-- Body -->
                                        <p class="card-text text-muted"></p>
                                    </div>
                                </a>
                                <!-- / .card -->
                            </div>

                            <div class="col-4">
                                <!-- Item -->
                                <a
                                    href="#TiendaDigital"
                                    class="card border-0 mb-3 mb-md-0 shadow"
                                >
                                    <!-- Image -->
                                    <div class="card-img-top">
                                        <img
                                            src="/DigitalGrit/assets/img/12.jpg"
                                            alt="Tarjeta Grafica AMD"
                                            class="img-fluid"
                                        />
                                    </div>

                                    <!-- Body -->
                                    <div class="card-body">
                                        <!-- Title -->
                                        <h4 class="card-title text-white">
                                            AMD
                                        </h4>

                                        <!-- Body -->
                                        <p class="card-text text-muted"></p>
                                    </div>
                                </a>
                                <!-- / .card -->
                            </div>
                            <div class="col-4">
                                <!-- Item -->
                                <a
                                    href="#TiendaDigital"
                                    class="card border-0 mb-3 mb-md-0 shadow disabled"
                                >
                                    <!-- Image -->
                                    <div class="card-img-top">
                                        <img
                                            src="/DigitalGrit/assets/img/13.jpg"
                                            alt="Tarjeta Grafica intel"
                                            class="img-fluid"
                                        />
                                    </div>

                                    <!-- Body -->
                                    <div class="card-body">
                                        <!-- Title -->
                                        <h4 class="card-title text-white">
                                            Intel
                                        </h4>

                                        <!-- Body -->
                                        <p class="card-text text-muted">
                                            Descatalogada
                                        </p>
                                    </div>
                                </a>
                                <!-- / .card -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 border border-white">
                        <h6 class="text-primary">Memorias Ram</h6>
                        <div class="row">
                            <div class="col-12">
                                <!-- Item -->
                                <a
                                    href="#TiendaDigital"
                                    class="card border-0 mb-3 mb-md-0 shadow"
                                >
                                    <!-- Image -->
                                    <div class="card-img-top">
                                        <img
                                            src="/DigitalGrit/assets/img/14.jpg"
                                            alt="Memoria Ram"
                                            class="img-fluid"
                                        />
                                    </div>

                                    <!-- Body -->
                                    <div class="card-body">
                                        <!-- Title -->
                                        <h4 class="card-title text-white">
                                            RAM
                                        </h4>

                                        <!-- Body -->
                                        <p class="card-text text-muted"></p>
                                    </div>
                                </a>
                                <!-- / .card -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 border border-white">
                        <h6 class="text-primary">Refligeracion</h6>
                        <div class="row">
                            <div class="col-12">
                                <!-- Item -->
                                <a
                                    href="#TiendaDigital"
                                    class="card border-0 mb-3 mb-md-0 shadow"
                                >
                                    <!-- Image -->
                                    <div class="card-img-top">
                                        <img
                                            src="/DigitalGrit/assets/img/15.jpg"
                                            alt="Refligeracion"
                                            class="img-fluid"
                                        />
                                    </div>

                                    <!-- Body -->
                                    <div class="card-body">
                                        <!-- Title -->
                                        <h4 class="card-title text-white">
                                            Refligeracion
                                        </h4>

                                        <!-- Body -->
                                        <p class="card-text text-muted"></p>
                                    </div>
                                </a>
                                <!-- / .card -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 border border-white">
                        <h6 class="text-primary">Fuentes de alimentacion</h6>
                        <div class="row">
                            <div class="col-12">
                                <!-- Item -->
                                <a
                                    href="#TiendaDigital"
                                    class="card border-0 mb-3 mb-md-0 shadow"
                                >
                                    <!-- Image -->
                                    <div class="card-img-top">
                                        <img
                                            src="/DigitalGrit/assets/img/16.jpg"
                                            alt="fuentes de alimentacion"
                                            class="img-fluid"
                                        />
                                    </div>

                                    <!-- Body -->
                                    <div class="card-body">
                                        <!-- Title -->
                                        <h4 class="card-title text-white">
                                            fuentes de alimentacion
                                        </h4>

                                        <!-- Body -->
                                        <p class="card-text text-muted"></p>
                                    </div>
                                </a>
                                <!-- / .card -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 border border-white">
                        <h6 class="text-primary">gabinetes</h6>
                        <div class="row">
                            <div class="col-12">
                                <!-- Item -->
                                <a
                                    href="#TiendaDigital"
                                    class="card border-0 mb-3 mb-md-0 shadow"
                                >
                                    <!-- Image -->
                                    <div class="card-img-top">
                                        <img
                                            src="/DigitalGrit/assets/img/17.jpg"
                                            alt="Gabinete"
                                            class="img-fluid"
                                        />
                                    </div>

                                    <!-- Body -->
                                    <div class="card-body">
                                        <!-- Title -->
                                        <h4 class="card-title text-white">
                                            gabinetes
                                        </h4>

                                        <!-- Body -->
                                        <p class="card-text text-muted"></p>
                                    </div>
                                </a>
                                <!-- / .card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>

<style is:inline>
@media screen and (min-width: 320px) {
    .container-carrucel-edit {
        display: flex;
        justify-content: center;
        height: 26.875rem; /* 430px / 16 */
        gap: 0.625rem; /* 10px / 16 */

        > div {
            flex: 0 0 60px; /* 120px / 16 */
            border-radius: 0.5rem;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            box-shadow: 0.0625rem 0.3125rem 0.9375rem #1e0e3e; /* 1px 5px 15px / 16 */
            position: relative;
            overflow: hidden;

            &:nth-of-type(1) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/02.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }
            &:nth-of-type(2) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/03.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }
            &:nth-of-type(3) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/04.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }

            .content-carrucel-edit {
                font-size: 1.5rem;
                color: #fff;
                display: flex;
                align-items: center;
                padding: 0.9375rem; /* 15px / 16 */
                opacity: 0;
                flex-direction: column;
                height: 100%;
                justify-content: flex-end;
                background: rgb(2, 2, 46);
                background: linear-gradient(
                    0deg,
                    rgba(2, 2, 46, 0.6755077030812324) 0%,
                    rgba(255, 255, 255, 0) 100%
                );
                transform: translatey(100%);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
                visibility: hidden;

                span {
                    display: block;
                    margin-top: 0.3125rem; /* 5px / 16 */
                    font-size: 1.2rem;
                }
            }

            &:hover {
                flex: 0 0 120px; /* 250px / 16 */
                box-shadow: 0.0625rem 0.1875rem 0.9375rem #7645d8; /* 1px 3px 15px / 16 */
                transform: translatey(-1.875rem); /* -30px / 16 */
            }

            &:hover .content-carrucel-edit {
                opacity: 1;
                transform: translatey(0%);
                visibility: visible;
            }
        }
    }
}
/* Estilos para pantallas de celular */
@media screen and (min-width: 360px) {
    .container-carrucel-edit {
        display: flex;
        justify-content: center;
        height: 26.875rem; /* 430px / 16 */
        gap: 0.625rem; /* 10px / 16 */

        > div {
            flex: 0 0 60px; /* 120px / 16 */
            border-radius: 0.5rem;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            box-shadow: 0.0625rem 0.3125rem 0.9375rem #1e0e3e; /* 1px 5px 15px / 16 */
            position: relative;
            overflow: hidden;

            &:nth-of-type(1) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/02.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }
            &:nth-of-type(2) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/03.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }
            &:nth-of-type(3) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/04.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }

            .content-carrucel-edit {
                font-size: 1.5rem;
                color: #fff;
                display: flex;
                align-items: center;
                padding: 0.9375rem; /* 15px / 16 */
                opacity: 0;
                flex-direction: column;
                height: 100%;
                justify-content: flex-end;
                background: rgb(2, 2, 46);
                background: linear-gradient(
                    0deg,
                    rgba(2, 2, 46, 0.6755077030812324) 0%,
                    rgba(255, 255, 255, 0) 100%
                );
                transform: translatey(100%);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
                visibility: hidden;

                span {
                    display: block;
                    margin-top: 0.3125rem; /* 5px / 16 */
                    font-size: 1.2rem;
                }
            }

            &:hover {
                flex: 0 0 150px; /* 250px / 16 */
                box-shadow: 0.0625rem 0.1875rem 0.9375rem #7645d8; /* 1px 3px 15px / 16 */
                transform: translatey(-1.875rem); /* -30px / 16 */
            }

            &:hover .content-carrucel-edit {
                opacity: 1;
                transform: translatey(0%);
                visibility: visible;
            }
        }
    }
}
/* Estilos para pantallas de tablet */
@media screen and (min-width: 768px) {
    .container-carrucel-edit {
        display: flex;
        justify-content: center;
        height: 26.875rem; /* 430px / 16 */
        gap: 0.625rem; /* 10px / 16 */

        > div {
            flex: 0 0 70px; /* 120px / 16 */
            border-radius: 0.5rem;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            box-shadow: 0.0625rem 0.3125rem 0.9375rem #1e0e3e; /* 1px 5px 15px / 16 */
            position: relative;
            overflow: hidden;

            &:nth-of-type(1) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/02.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }
            &:nth-of-type(2) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/03.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }
            &:nth-of-type(3) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/04.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }

            .content-carrucel-edit {
                font-size: 1.5rem;
                color: #fff;
                display: flex;
                align-items: center;
                padding: 0.9375rem; /* 15px / 16 */
                opacity: 0;
                flex-direction: column;
                height: 100%;
                justify-content: flex-end;
                background: rgb(2, 2, 46);
                background: linear-gradient(
                    0deg,
                    rgba(2, 2, 46, 0.6755077030812324) 0%,
                    rgba(255, 255, 255, 0) 100%
                );
                transform: translatey(100%);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
                visibility: hidden;

                span {
                    display: block;
                    margin-top: 0.3125rem; /* 5px / 16 */
                    font-size: 1.2rem;
                }
            }

            &:hover {
                flex: 0 0 120px; /* 250px / 16 */
                box-shadow: 0.0625rem 0.1875rem 0.9375rem #7645d8; /* 1px 3px 15px / 16 */
                transform: translatey(-1.875rem); /* -30px / 16 */
            }

            &:hover .content-carrucel-edit {
                opacity: 1;
                transform: translatey(0%);
                visibility: visible;
            }
        }
    }
}
/* Estilos para pantallas de computadora */
@media screen and (min-width: 1024px) {
    .container-carrucel-edit {
        display: flex;
        justify-content: center;
        height: 31.25rem; /* 500px / 16 */
        gap: 0.625rem; /* 10px / 16 */

        > div {
            flex: 0 0 7.5rem; /* 120px / 16 */
            border-radius: 0.5rem;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            box-shadow: 0.0625rem 0.3125rem 0.9375rem #1e0e3e; /* 1px 5px 15px / 16 */
            position: relative;
            overflow: hidden;

            &:nth-of-type(1) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/02.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }
            &:nth-of-type(2) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/03.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }
            &:nth-of-type(3) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/04.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }

            .content-carrucel-edit {
                font-size: 1.5rem;
                color: #fff;
                display: flex;
                align-items: center;
                padding: 0.9375rem; /* 15px / 16 */
                opacity: 0;
                flex-direction: column;
                height: 100%;
                justify-content: flex-end;
                background: rgb(2, 2, 46);
                background: linear-gradient(
                    0deg,
                    rgba(2, 2, 46, 0.6755077030812324) 0%,
                    rgba(255, 255, 255, 0) 100%
                );
                transform: translatey(100%);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
                visibility: hidden;

                span {
                    display: block;
                    margin-top: 0.3125rem; /* 5px / 16 */
                    font-size: 1.2rem;
                }
            }

            &:hover {
                flex: 0 0 15.625rem; /* 250px / 16 */
                box-shadow: 0.0625rem 0.1875rem 0.9375rem #7645d8; /* 1px 3px 15px / 16 */
                transform: translatey(-1.875rem); /* -30px / 16 */
            }

            &:hover .content-carrucel-edit {
                opacity: 1;
                transform: translatey(0%);
                visibility: visible;
            }
        }
    }
}
</style>
