<div class="cargador" role="status"></div>

<script>
    window.addEventListener('load', function () {
        var spinner = document.querySelector('.cargador')
        var overflowHidden = document.querySelector('.Scroll-disabled-load')
        spinner.style.display = 'none'
        overflowHidden.style.overflow = 'auto'
    })
</script>

<style is:global>
    .Scroll-disabled-load {
        overflow: hidden;
    }

    .cargador {
        position: fixed;
        z-index: 9999;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 150"><path fill="none" stroke="%23FF156D" stroke-width="15" stroke-linecap="round" stroke-dasharray="300 385" stroke-dashoffset="0" d="M275 75c0 31-27 50-50 50-58 0-92-100-150-100-28 0-50 22-50 50s23 50 50 50c58 0 92-100 150-100 24 0 50 19 50 50Z"><animate attributeName="stroke-dashoffset" calcMode="spline" dur="2" values="685;-685" keySplines="0 0 1 1" repeatCount="indefinite"></animate></path></svg>');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        opacity: 1;
    }
</style>
