---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Servicios |DigitalGrit">
    <main>
        <!-- Header -->
        <section class="section section-top section-full">
            <!-- Cover -->
            <div
                class="bg-cover"
                style="background-image: url(assets/img/01.jpg);"
            >
            </div>
            <!-- Overlay -->
            <div class="bg-overlay"></div>
            <!-- Triangles -->
            <div
                class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"
            >
            </div>
            <div
                class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"
            >
            </div>
            <!-- Content -->
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8 col-lg-7">
                        <!-- Preheading -->
                        <p
                            class="font-weight-medium text-center text-xs text-uppercase text-white text-muted animate"
                            data-toggle="animation"
                            data-animation="fadeUp"
                            data-animation-order="0"
                            data-animation-trigger="load"
                        >
                            by GeronimoGc
                        </p>

                        <!-- Heading -->
                        <h1
                            class="text-white text-center mb-4 animate"
                            data-toggle="animation"
                            data-animation="fadeUp"
                            data-animation-order="1"
                            data-animation-trigger="load"
                        >
                            Servicios
                        </h1>

                        <!-- Subheading -->
                        <p
                            class="lead text-white text-muted text-center mb-5 animate"
                            data-toggle="animation"
                            data-animation="fadeUp"
                            data-animation-order="2"
                            data-animation-trigger="load"
                        >
                            En DigitalGrit, no solo proporcionamos piezas de
                            computadora, sino que transformamos sueños en
                            realidad. Nuestro servicio de soporte técnico está
                            diseñado para asegurar que tu experiencia digital
                            sea más fluida y mejor. Además, nuestras ofertas de
                            desarrollo de software y web son las soluciones
                            perfectas para potenciar digitalmente tu negocio.
                            Descubre cómo podemos hacer que tu mundo digital sea
                            más eficiente y exitoso..
                        </p>
                    </div>
                </div>
                <!-- / .row -->
            </div>
            <!-- / .container -->
        </section>
        <!-- Services -->
        <section class="section">
            <div class="container">
                <div class="text-center">
                    <h1 class="mb-5">Nuestros Servicios</h1>
                </div>
            </div>
        </section>
    </main>
</Layout>

<style>

</style>
