---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Servicios | DigitalGrit">
    <main>
        <!-- Header -->
        <section class="section section-top section-full">
            <!-- Cover -->
            <div
                class="bg-cover"
                style="background-image: url(/DigitalGrit/assets/img/01.jpg);"
            >
            </div>
            <!-- Overlay -->
            <div class="bg-overlay"></div>
            <!-- Triangles -->
            <div
                class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"
            >
            </div>
            <div
                class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"
            >
            </div>
            <!-- Content -->
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8 col-lg-7">
                        <!-- Preheading -->
                        <p
                            class="font-weight-medium text-center text-xs text-uppercase text-white text-muted animate"
                            data-toggle="animation"
                            data-animation="fadeUp"
                            data-animation-order="0"
                            data-animation-trigger="load"
                        >
                            by GeronimoGc
                        </p>

                        <!-- Heading -->
                        <h1
                            class="text-white text-center mb-4 animate"
                            data-toggle="animation"
                            data-animation="fadeUp"
                            data-animation-order="1"
                            data-animation-trigger="load"
                        >
                            Servicios
                        </h1>

                        <!-- Subheading -->
                        <p
                            class="lead text-white text-muted text-center mb-5 animate"
                            data-toggle="animation"
                            data-animation="fadeUp"
                            data-animation-order="2"
                            data-animation-trigger="load"
                        >
                            En DigitalGrit, no solo proporcionamos piezas de
                            computadora, sino que transformamos sueños en
                            realidad. Nuestro servicio de soporte técnico está
                            diseñado para asegurar que tu experiencia digital
                            sea más fluida y mejor. Además, nuestras ofertas de
                            desarrollo de software y web son las soluciones
                            perfectas para potenciar digitalmente tu negocio.
                            Descubre cómo podemos hacer que tu mundo digital sea
                            más eficiente y exitoso..
                        </p>
                    </div>
                </div>
                <!-- / .row -->
            </div>
            <!-- / .container -->
        </section>
        <!-- Services -->
        <section class="section">
            <div class="container">
                <div class="text-center">
                    <h1 class="mb-5">Nuestros Servicios</h1>
                </div>
            </div>
            <div class="container">
                <div class="container-carrucel-edit">
                    <div>
                        <div class="content-carrucel-edit">
                            <h2 class="text-white">Soporte Tecnico</h2>
                            <a class="btn btn-sm btn-outline-primary mb-2" href="">Ver Mas</a>
                        </div>
                    </div>
                    <div>
                        <div class="content-carrucel-edit">
                            <h2 class="text-white">Desarrollo de software</h2>
                            <a class="btn btn-sm btn-outline-primary mb-2" href="">Ver Mas</a>
                        </div>
                    </div>
                    <div>
                        <div class="content-carrucel-edit">
                            <h2 class="text-white">Diseño de Paginas web</h2>
                            <a class="btn btn-sm btn-outline-primary mb-2" href="">Ver Mas</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>

<style is:inline>
@media screen and (min-width: 320px) {
    .container-carrucel-edit {
        display: flex;
        justify-content: center;
        height: 26.875rem; /* 430px / 16 */
        gap: 0.625rem; /* 10px / 16 */

        > div {
            flex: 0 0 60px; /* 120px / 16 */
            border-radius: 0.5rem;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            box-shadow: 0.0625rem 0.3125rem 0.9375rem #1e0e3e; /* 1px 5px 15px / 16 */
            position: relative;
            overflow: hidden;

            &:nth-of-type(1) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/02.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }
            &:nth-of-type(2) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/03.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }
            &:nth-of-type(3) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/04.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }

            .content-carrucel-edit {
                font-size: 1.5rem;
                color: #fff;
                display: flex;
                align-items: center;
                padding: 0.9375rem; /* 15px / 16 */
                opacity: 0;
                flex-direction: column;
                height: 100%;
                justify-content: flex-end;
                background: rgb(2, 2, 46);
                background: linear-gradient(
                    0deg,
                    rgba(2, 2, 46, 0.6755077030812324) 0%,
                    rgba(255, 255, 255, 0) 100%
                );
                transform: translatey(100%);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
                visibility: hidden;

                span {
                    display: block;
                    margin-top: 0.3125rem; /* 5px / 16 */
                    font-size: 1.2rem;
                }
            }

            &:hover {
                flex: 0 0 120px; /* 250px / 16 */
                box-shadow: 0.0625rem 0.1875rem 0.9375rem #7645d8; /* 1px 3px 15px / 16 */
                transform: translatey(-1.875rem); /* -30px / 16 */
            }

            &:hover .content-carrucel-edit {
                opacity: 1;
                transform: translatey(0%);
                visibility: visible;
            }
        }
    }
}
/* Estilos para pantallas de celular */
@media screen and (min-width: 360px) {
    .container-carrucel-edit {
        display: flex;
        justify-content: center;
        height: 26.875rem; /* 430px / 16 */
        gap: 0.625rem; /* 10px / 16 */

        > div {
            flex: 0 0 60px; /* 120px / 16 */
            border-radius: 0.5rem;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            box-shadow: 0.0625rem 0.3125rem 0.9375rem #1e0e3e; /* 1px 5px 15px / 16 */
            position: relative;
            overflow: hidden;

            &:nth-of-type(1) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/02.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }
            &:nth-of-type(2) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/03.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }
            &:nth-of-type(3) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/04.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }

            .content-carrucel-edit {
                font-size: 1.5rem;
                color: #fff;
                display: flex;
                align-items: center;
                padding: 0.9375rem; /* 15px / 16 */
                opacity: 0;
                flex-direction: column;
                height: 100%;
                justify-content: flex-end;
                background: rgb(2, 2, 46);
                background: linear-gradient(
                    0deg,
                    rgba(2, 2, 46, 0.6755077030812324) 0%,
                    rgba(255, 255, 255, 0) 100%
                );
                transform: translatey(100%);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
                visibility: hidden;

                span {
                    display: block;
                    margin-top: 0.3125rem; /* 5px / 16 */
                    font-size: 1.2rem;
                }
            }

            &:hover {
                flex: 0 0 150px; /* 250px / 16 */
                box-shadow: 0.0625rem 0.1875rem 0.9375rem #7645d8; /* 1px 3px 15px / 16 */
                transform: translatey(-1.875rem); /* -30px / 16 */
            }

            &:hover .content-carrucel-edit {
                opacity: 1;
                transform: translatey(0%);
                visibility: visible;
            }
        }
    }
}
/* Estilos para pantallas de tablet */
@media screen and (min-width: 768px) {
    .container-carrucel-edit {
        display: flex;
        justify-content: center;
        height: 26.875rem; /* 430px / 16 */
        gap: 0.625rem; /* 10px / 16 */

        > div {
            flex: 0 0 70px; /* 120px / 16 */
            border-radius: 0.5rem;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            box-shadow: 0.0625rem 0.3125rem 0.9375rem #1e0e3e; /* 1px 5px 15px / 16 */
            position: relative;
            overflow: hidden;

            &:nth-of-type(1) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/02.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }
            &:nth-of-type(2) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/03.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }
            &:nth-of-type(3) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/04.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }

            .content-carrucel-edit {
                font-size: 1.5rem;
                color: #fff;
                display: flex;
                align-items: center;
                padding: 0.9375rem; /* 15px / 16 */
                opacity: 0;
                flex-direction: column;
                height: 100%;
                justify-content: flex-end;
                background: rgb(2, 2, 46);
                background: linear-gradient(
                    0deg,
                    rgba(2, 2, 46, 0.6755077030812324) 0%,
                    rgba(255, 255, 255, 0) 100%
                );
                transform: translatey(100%);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
                visibility: hidden;

                span {
                    display: block;
                    margin-top: 0.3125rem; /* 5px / 16 */
                    font-size: 1.2rem;
                }
            }

            &:hover {
                flex: 0 0 120px; /* 250px / 16 */
                box-shadow: 0.0625rem 0.1875rem 0.9375rem #7645d8; /* 1px 3px 15px / 16 */
                transform: translatey(-1.875rem); /* -30px / 16 */
            }

            &:hover .content-carrucel-edit {
                opacity: 1;
                transform: translatey(0%);
                visibility: visible;
            }
        }
    }
}
/* Estilos para pantallas de computadora */
@media screen and (min-width: 1024px) {
    .container-carrucel-edit {
        display: flex;
        justify-content: center;
        height: 31.25rem; /* 500px / 16 */
        gap: 0.625rem; /* 10px / 16 */

        > div {
            flex: 0 0 7.5rem; /* 120px / 16 */
            border-radius: 0.5rem;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            box-shadow: 0.0625rem 0.3125rem 0.9375rem #1e0e3e; /* 1px 5px 15px / 16 */
            position: relative;
            overflow: hidden;

            &:nth-of-type(1) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/02.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }
            &:nth-of-type(2) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/03.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }
            &:nth-of-type(3) {
                background: url('https://geronimogc.github.io/DigitalGrit-01/assets/img/04.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                    no-repeat 50% / cover;
            }

            .content-carrucel-edit {
                font-size: 1.5rem;
                color: #fff;
                display: flex;
                align-items: center;
                padding: 0.9375rem; /* 15px / 16 */
                opacity: 0;
                flex-direction: column;
                height: 100%;
                justify-content: flex-end;
                background: rgb(2, 2, 46);
                background: linear-gradient(
                    0deg,
                    rgba(2, 2, 46, 0.6755077030812324) 0%,
                    rgba(255, 255, 255, 0) 100%
                );
                transform: translatey(100%);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
                visibility: hidden;

                span {
                    display: block;
                    margin-top: 0.3125rem; /* 5px / 16 */
                    font-size: 1.2rem;
                }
            }

            &:hover {
                flex: 0 0 15.625rem; /* 250px / 16 */
                box-shadow: 0.0625rem 0.1875rem 0.9375rem #7645d8; /* 1px 3px 15px / 16 */
                transform: translatey(-1.875rem); /* -30px / 16 */
            }

            &:hover .content-carrucel-edit {
                opacity: 1;
                transform: translatey(0%);
                visibility: visible;
            }
        }
    }
}
</style>
