---
import Footer from '../components/Footer.astro'
import Topbar from '../components/Topbar.astro'
import Whatsapp from '../components/Whatsapp.astro'
interface Props {
    title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href=" favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link
            rel="stylesheet"
            href="/DigitalGrit/assets/libs/flickity/dist/flickity.min.css"
        />
        <link
            rel="stylesheet"
            href="/DigitalGrit/assets/libs/flickity-fade/flickity-fade.css"
        />
        <link
            rel="stylesheet"
            href="/DigitalGrit/assets/libs/fullpage.js/dist/fullpage.min.css"
        />
        <link
            rel="stylesheet"
            href="/DigitalGrit/assets/libs/highlightjs/styles/codepen-embed.css"
        />
        <link
            rel="stylesheet"
            href="/DigitalGrit/assets/libs/@fortawesome/fontawesome-free/css/all.min.css"
        />
        <link
            rel="stylesheet"
            href="/DigitalGrit/assets/libs/incline-icons/style.min.css"
        />
        <link rel="stylesheet" href="/DigitalGrit/assets/css/theme.min.css" />
        <link rel="stylesheet" href="/DigitalGrit/assets/css/style.css" />
    </head>
    <body>
        <Topbar />
        <slot />
		<Whatsapp />
        <Footer />
        <!-- JAVASCRIPT
        ================================================== -->
        <!-- Global JS -->
        <script
            is:inline
            src="/DigitalGrit/assets/libs/jquery/dist/jquery.min.js"></script>
        <!-- Plugins JS -->
        <script
            is:inline
            src="/DigitalGrit/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"
        ></script>
        <script
            is:inline
            src="/DigitalGrit/assets/libs/flickity/dist/flickity.pkgd.min.js"
        ></script>
        <script
            is:inline
            src="/DigitalGrit/assets/libs/flickity-fade/flickity-fade.js"
        ></script>
        <script
            is:inline
            src="/DigitalGrit/assets/libs/jquery-parallax.js/parallax.min.js"
        ></script>
        <script
            is:inline
            src="/DigitalGrit/assets/libs/waypoints/lib/jquery.waypoints.min.js"
        ></script>
        <script
            is:inline
            src="/DigitalGrit/assets/libs/waypoints/lib/shortcuts/inview.min.js"
        ></script>
        <script
            is:inline
            src="/DigitalGrit/assets/libs/fullpage.js/vendors/scrolloverflow.min.js"
        ></script>
        <script
            is:inline
            src="/DigitalGrit/assets/libs/fullpage.js/dist/fullpage.min.js"
        ></script>
        <script
            is:inline
            src="/DigitalGrit/assets/libs/highlightjs/highlight.pack.min.js"
        ></script>
        <!-- Theme JS -->
        <script is:inline src="/DigitalGrit/assets/js/theme.min.js"></script>
    </body>
</html>

<style is:global></style>
